* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

#container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

#left-content{
    width: 40%;
    height: 100dvh;
}
#left-content img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
#right-content {
    width: 60%;
    height: 100dvh;
    align-content: center;
}

.form-header {
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#account_info {
    width: 100%;;
}
form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form h2 {
    margin-bottom: 16px;
}
.form-row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    margin-bottom: 40px;
}

.form-row input {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    font-size: 12px;
    width: 100%;
    margin-bottom: 2px;
}

.form-row input[type='password']:invalid {
    border-color: red;
}

.form-row input[type='password']:valid {
    border-color: green;
}

.form-row input:focus {
    border-color: blue;
    outline: none;
}
